<?xml version="1.0"?>
<!-- Configuratio Azure pour servir les json 
  Renommer Web.config lors du 1er déploiement
-->
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
