
$infeenyColor: #240058;
$lightGrey: #f4f4f4;
$mediumGrey: #eaeaea;
$mediumPlusGrey: #bebebe;
$strongGrey: #919191;
$white: #ffffff;
$black: #000000;
$TeamsColor: "#4B509E";

body {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }


.application {
    background-color: white;
    min-height: 800px;

    .calendarHeaderParametersContainer {
        height: 50px; background-color: $infeenyColor; display: flex; color:$white;
        .title { font-weight: 600; width: 280px; display:flex; flex-direction: column; justify-content: center; text-align: center; cursor:default; font-size:1.5em;}
        .btnContainerParameters{
            display: flex;
            .btnParameters{ display:flex; flex-direction: column; justify-content: center; text-align: center; margin-right: 25px; cursor:pointer;  }
            .btnVisited, .btnParameters:hover { border-bottom: 5px solid $mediumGrey; color: $mediumGrey; }
        }
    }

    .calendarHeaderTimeline {
        display: flex; height: 35px; padding-left: 25px; background-color: $lightGrey; border-bottom: 2px solid $mediumGrey;
        .today, .monthDate, .icon { cursor: pointer; }
        .today, .monthDate{ display:flex; flex-direction: column; justify-content: center; text-align: center; }
        .today { margin-right: 10px; }
        .icon { 
            margin: auto 0 auto 0; 
            svg { fill: $strongGrey; }
            svg:hover { fill: $black; }
        }
        .monthDate { font-weight: bold; margin-left: 10px; }
        .daySelector { 
            display: flex; margin:auto 20px auto auto; height: 100%;
            span { display: flex; flex-direction: column; text-align: center; justify-content: center;   margin-right:10px; cursor: pointer; }
            span:hover, .visited { border-bottom: 5px solid $infeenyColor; }
        }
    }

    .mainTimeline{
        .leftMembersPanel {
            display: flex;
            .leftMembersPanelContainer{
                width: 200px; background-color: $lightGrey; min-width: 200px;
                .leftMembersPanelRow {
                    width: 100%; display: flex; margin-bottom: 0px; height:70px; border-top: 1px solid $mediumGrey; cursor: default; border-right: 3px solid $mediumGrey;
                    .initial{ margin: auto 0 auto 10px; height: 35px; width: 35px; color: $white; background-color: $infeenyColor; border-radius: 50%; text-align:center; vertical-align: middle; line-height: 35px;}
                    .memberInfoContainer{
                        margin: auto 0 auto 10px;
                        .name{ font-weight: bold;}
                        .hours { font-size: 0.75em; }
                    }
                }
                .leftMembersPanelRow:hover{
                    background-color: $mediumGrey;
                }
            }
            .timelineGrid{
                display:flex; flex:1;
                .timelineCell:first-child{padding-left:2px;}
                .timelineCell{
                    height: 70px; flex: 1;min-width:20px;
                    .timelineCellBorder{
                        border-bottom: 1px solid $mediumGrey; border-right: 1px solid $mediumGrey; flex:1; height:100%;position: relative;
                    }
                    .timelineShift{ 
                        margin-top:3px; height:20px; cursor:pointer;top:0px; z-index: 10;position: absolute; left: 3px; display: flex; border-radius: 5px 10px 10px 5px;
                        .timelineShiftTitle {
                            color: white; font-size:12px; margin: auto 0 auto 5px;
                        }
                    }
                    .timelineShift:hover{ opacity:0.8;}
                }           
            }
        }
        .timelineGroupContainer{ 
            height: 50px; background-color: $lightGrey; border-bottom: 1px solid $mediumGrey; display:flex;
            .timelineGroupContainerMonthWork { 
                width: 200px; border-right: 3px solid $mediumGrey; 
                .timelineGroupContainerMonthWorkTitle { margin: 8px; }
            }
            .timelineGroupContainerName { 
                flex: 1; font-weight: bold; font-size: 1.5em; display: flex;
                .timelineCommandBar{ width: 350px;}
                .timelineGroupContainerNameTitle { margin: 8px;overflow: hidden; }
                > button { margin: auto 20px auto 10px; }
            }
        }

        .timelineTimeContainer {
            width: 100%; display:flex; background-color: $lightGrey;
            .monthTimeline { 
                width: 200px; border-right: 3px solid $mediumGrey; border-bottom: 1px solid $mediumGrey;min-width:200px;
                .monthTimelineTitle { margin: 8px; }
            }

            .daysGrid {
                display: flex; flex:1;
                .days{
                min-width:20px; flex:1; padding:8px 0 8px 0; border-bottom: 1px solid $mediumGrey; border-right: 1px solid $mediumGrey; height: 50px; font-weight: bold;
                    .daysName{ font-size:0.80em;}
                    .daysNumber, .daysName { text-align: center; }
                }
                .daysGrey{ color:$mediumPlusGrey; }
                .daysCurrent{ color:$infeenyColor; opacity: 0.5;}
            }

            
        }
        
    }   
    
    .parameterView{
        
        .parameterViewRow{
            padding: 15px;
            display: flex;

            
            .parameterViewRowTitle {
                font-weight: 600;
                min-width: 120px;
            }
            
            .parameterViewRowContent {
                flex: 1;
                max-width: 400px;
            }
        }
    }
    
}
.addNewEventModal {
    .row { margin-top: 25px; display: flex; }
    .required { color:red; margin-left: 5px!important; }
    .newEventTitle { font-weight: 400; font-size: 1.2rem;color:#4E586A }
    .newEventTitleInput { width: 100%; }
    .newEventTitleEvent {
        input { height: inherit; padding-top: 6px; padding-bottom: 6px; }
    }
    .iconSvg { 
        svg { height: 20px; width: 20px; }
        margin: auto 10px auto 0;}
    .newEventStartDate {
        display: flex; 
        .dateFieldContainer { 
            > div { margin-right: 10px;}
            svg { height: 20px; width: 20px; }
            .dateTimePicker { width: 130px; }

            span { min-width: 120px; margin:auto;}
            display: flex;
            }
            > div {
                margin-right: 10px;
            }
    }    
    .newEventButton {
        position: absolute;bottom: 40px; width: 100%; display:flex; margin-left:-15px;
        .newEventSaveButton { 
            button { height: inherit;}
            margin: auto 15px auto auto;
         }
        .newEventDeleteButton { 
            height: 40px; width:40px; display: flex;
            svg { height: 21px; width:21px;}
            button { height: inherit; min-width: 7rem; }
            margin-left: 15px;
            .iconDelete, .iconDeleteHover { margin:auto;}
            .iconDelete {display: block; }
            .iconDeleteHover { display: none; }
        }
        .newEventDeleteButton:hover { 
            svg { height: 40px; width:40px;}
            .iconDelete { display: none; }
            .iconDeleteHover { display: block; }
        }
    }
}
